extends nav
block main-content
    img(src="/images/paint.gif" alt="image #2")
    p.
        COLOURlovers™ is an international community of designers and artists of all kinds who visit the site to get color inspiration, ideas and feedback for both their professional and personal projects.
        